/* *{
  border: solid gold;
} */
#navbar-brand{
  color: rgb(121, 120, 120);
  font-size: 1.75rem;
  text-decoration: none;
}
#index-header{
  font-size: 6rem;
}
h1{
  color: white;
  font-size: 3rem;
  font-family: 'Nunito Sans', sans-serif;
}
.artists{
  background-color: rgb(30, 128, 240);
  font-family: 'Nunito Sans', sans-serif;
}
.agents{
  background-color: rgb(30, 128, 240);
  font-family: 'Nunito Sans', sans-serif;
}
#index-li{
  background-color:  rgb(30, 128, 240);
  list-style: none;
  color: white;
  text-decoration: none;
}
.faq-title{
  text-decoration: none;
  color: white;
  text-decoration: none;
}
.nav-link{
  color: white;
}
#artists-h1{
  font-size: 2rem;
  text-decoration: none;
}
.artists-title {
  font-size: 6rem;
  padding-left: 3rem;
  font-weight: 900;
}
.artists-answer{
  font-size: 2rem;
}
.agents-h1{
  font-size: 2rem;
}
.agents-title{
    font-size: 6rem;
    padding-left: 3rem;
    font-weight: 900;
  }
  .agents-answer{
    font-size: 2rem;
  }
.far {
  font-size: 2rem;
}
#brand-A{
  font-weight: bold;
}
#edit{
  color: white;
}
.card-body{
  text-align: center;
}
#edit-button{
  color: white;
}
.display-4{
  color:  rgb(30, 128, 240);
}
.card-text{
  color: black;
  font-weight: bold;
}
#delete-btn{
  background-color: rgb(30, 128, 240);
  border: none;
  color: rgb(30, 128, 240);
}
